/* Same style as login page */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eaf3ff;
  flex-direction: column;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.auth-box input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  padding: 10px;
  border: none;
  background: #0056d6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.switch-text {
  color: #0056d6;
  cursor: pointer;
  text-align: center;
}
